/* .navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
}

.bg-light {
    background-color: #fff !important;
}

.navbar-collapse {
    flex-grow: 0;
}


@media only screen and (max-width: 480px) {
    .customNavbar {
        margin-left: 20px;
        margin-right: 5px;
    }
} */

@media only screen and (min-width: 769px) {
    .bannerNavContainer {
        position: relative;
        height: 600px;
    }

    .carousel {
        position: absolute;
        top: 0;
    }

    .vipNavBar {
        position: absolute;
        top: 30px;
        z-index: 10;
        background: #fff;
        width: 100%;
    }
}

/* @media only screen and (min-width: 481px) and (max-width: 768px) {
    .carousel {
        margin-top: 100px;
    }
} */





/* ------------------- */

@media only screen and (max-width: 480px) {
    .customSearchBar {
        /* display: flex; */
        flex-direction: column;
    }
}

/* -------------------- */


@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }
}

.slick-slide {
    margin: 0 10px;
}


.slick-list {
    margin: 0 -10px;
}


.xyzabc:hover {
    box-shadow: 0 14px 24px rgb(0 0 0 / 20%);
    z-index: 399;
    transform: scale(1.1);
    transition: all .25s ease;
}

.xyzabc {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY8HO3n5ytOXsjt0KVzV6sLBWlXYesYb3mmnUeXq9Mo2PT68x-MtwP75Incmuj6upI2qw&usqp=CAU');
    background-repeat: no-repeat;
}



/* ------------------------------------------- */

.xyzabc1:hover {
    box-shadow: 0 14px 24px rgb(0 0 0 / 20%);
    z-index: 399;
    transform: scale(1.1);
    transition: all .25s ease;
}

@media only screen and (max-width: 480px) {
    .stepMobileDisplay {
        display: flex;
        flex-direction: column;
    }
}


/* -------------------------------------------------------------------------- */

.xyzabc2 {
    box-shadow: 0 14px 24px rgb(0 0 0 / 20%);
    z-index: 399;
}

.xyzabc2:hover {
    box-shadow: 0 14px 24px rgb(0 0 0 / 20%);
    z-index: 400;
    transform: scale(1.1);
    transition: all .25s ease;
}


/* ----------------------- */

.chat-icon-fixed {
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(247 121 1);
}